{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">Ваши бюджеты</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Название</th>
            <th>Лимит</th>
            <th>Текущие расходы</th>
        </tr>
    </thead>
    <tbody>
        {% for budget in budgets %}
        <tr>
            <td>{{ budget.name }}</td>
            <td>{{ budget.limit }}</td>
            <td>{{ budget.current_spend }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
