{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">Ваши транзакции</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Тип</th>
            <th>Сумма</th>
            <th>Описание</th>
            <th>Дата</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.type }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.description }}</td>
            <td>{{ transaction.date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
