<!-- core/templates/core/about.html -->
{% extends 'base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>О нас</h1>
        <p class="lead">Узнайте больше о нашем приложении и команде.</p>
        <div class="row">
            <div class="col-md-6">
                <h3>Наша миссия</h3>
                <p>Мы стремимся предоставить лучший сервис для управления вашими финансами.</p>
            </div>
            <div class="col-md-6">
                <h3>Наша команда</h3>
                <p>Наша команда состоит из экспертов в области финансов и технологий.</p>
            </div>
        </div>
    </div>
{% endblock %}
