<!-- core/templates/core/contact.html -->
{% extends 'base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Контакты</h1>
        <p class="lead">Не стесняйтесь обращаться с любыми вопросами или предложениями.</p>
        <form>
            <div class="mb-3">
                <label for="name" class="form-label">Имя</label>
                <input type="text" class="form-control" id="name" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Адрес электронной почты</label>
                <input type="email" class="form-control" id="email" required>
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Сообщение</label>
                <textarea class="form-control" id="message" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
{% endblock %}
