{% extends "layouts/base.html" %}
{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="card mt-4">
    <div class="card-body">
        <h2 class="card-title">Регистрация</h2>
        <form method="POST" enctype="multipart/form-data">  <!-- Добавлен enctype для загрузки файлов -->
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class="form-label") }}
                {{ form.confirm_password(class="form-control") }}
            </div>
            <div class="form-group">
                <label class="form-label">Фото профиля</label>
                <input type="file" name="profile_picture" class="form-control" accept="image/*"> <!-- Поле для загрузки фото -->
            </div>
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </form>
    </div>
</div>
{% endblock %}