{% extends "base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Восстановление пароля</h1>
    <form action="{{ url_for('password_reset') }}" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Введите вашу почту:</label>
            <input type="email" name="email" class="form-control" id="email" required>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Отправить ссылку для восстановления</button>
        </div>
    </form>
</div>
{% endblock %}
