{% extends "base.html" %}

{% block content %}
<section class="about">
    <h1>О нас</h1>
    <p>Мы — команда увлеченных профессионалов, которые стремятся предоставить лучшие решения в области медиа. Наша цель — сделать музыку доступной для каждого и предоставить платформу для артистов и слушателей.</p>
    
    <h2>Наша миссия</h2>
    <p>Мы стремимся объединить людей через музыку, создавая сообщество, в котором каждый может найти что-то для себя.</p>
    
    <h2>Наша команда</h2>
    <ul>
        <li>Максим Дуплей — Основатель</li>
        <li>Максим Дуплей — Директор по маркетингу</li>
        <li>Максим Дуплей — Технический директор</li>
        <li>Максим Дуплей — Менеджер по продукту</li>
        <li>Максим Дуплей — Главный дизайнер</li>
        <li>Максим Дуплей — Звукорежисёр</li>
    </ul>

    <h2>Свяжитесь с нами</h2>
    <p>Если у вас есть вопросы или предложения, не стесняйтесь обращаться к нам через форму обратной связи на странице "Контакты".</p>
</section>
{% endblock %}
