{% extends "base.html" %}

{% block title %}
Создать Категорию
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Создание категории</h1>
        <form action="/create-category" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Название категории</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <button type="submit" class="btn btn-primary">Создать</button>
                <a href="/" class="btn btn-secondary me-2">Назад</a>
            </div>
        </form>
    </div>
{% endblock %}
