{% extends "base.html" %}

{% block content %}
<section class="privacy">
    <h1>Политика конфиденциальности</h1>
    <p>Мы ценим вашу конфиденциальность и делаем все возможное, чтобы защитить ваши личные данные. Ознакомьтесь с нашей политикой конфиденциальности, чтобы узнать, как мы собираем, используем и защищаем вашу информацию.</p>
    
    <h2>Сбор информации</h2>
    <p>Мы собираем информацию, которую вы предоставляете при регистрации, загрузке медиа файлов и использовании нашего сервиса.</p>

    <h2>Использование информации</h2>
    <p>Мы используем вашу информацию для предоставления услуг, обработки транзакций и улучшения качества нашего сервиса.</p>

    <h2>Безопасность информации</h2>
    <p>Мы принимаем все необходимые меры для защиты ваших данных, включая использование шифрования и безопасных серверов.</p>

    <h2>Изменения в политике конфиденциальности</h2>
    <p>Мы можем время от времени обновлять нашу политику конфиденциальности. Мы уведомим вас о любых изменениях через наш сайт.</p>
</section>
{% endblock %}
