{% extends "base.html" %}

{% block title %}
Загрузить Музыку
{% endblock %}

{% block content %}
    <!-- Основное содержимое -->
    <div class="container mt-4">
        <h1 class="mb-4">Загрузка музыки</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="name_music" class="form-label">Название произведения</label>
                <input type="text" class="form-control" id="name_music" name="name_music" required>
            </div>

            <!-- Поле для описания музыкальной композиции -->
            <div class="mb-3">
                <label for="description" class="form-label">Описание произведения</label>
                <textarea class="form-control" id="description" name="description" rows="3" placeholder="Введите описание произведения" required></textarea>
            </div>

            <!-- Поле для загрузки файла -->
            <div class="mb-3">
                <label for="music_file" class="form-label">Файл музыки</label>
                <input type="file" class="form-control" id="music_file" name="music_file" required>
            </div>

            <!-- Поля для ссылки на музыку -->
            <div class="mb-3">
                <label for="plvideo_url" class="form-label">Ссылка на Plvideo</label>
                <input type="url" class="form-control" id="plvideo_url" name="plvideo_url" placeholder="https://plvideo.com/your_music" required>
            </div>
            <div class="mb-3">
                <label for="rutube_url" class="form-label">Ссылка на Rutube</label>
                <input type="url" class="form-control" id="rutube_url" name="rutube_url" placeholder="https://rutube.ru/your_music" required>
            </div>
            <div class="mb-3">
                <label for="youtube_url" class="form-label">Ссылка на YouTube</label>
                <input type="url" class="form-control" id="youtube_url" name="youtube_url" placeholder="https://youtube.com/your_music" required>
            </div>

            <div class="mb-3">
                <label for="cover_file" class="form-label">Файл обложки</label>
                <input type="file" class="form-control" id="cover_file" name="cover_file" required>
            </div>

            <div class="mb-3">
                <label for="category" class="form-label">Категория</label>
                <select class="form-select" id="category" name="category_id" required>
                    <option value="" selected>Выберите категорию</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="genre" class="form-label">Жанр</label>
                <select class="form-select" id="genre" name="genre_id" required>
                    <option value="" selected>Выберите жанр</option>
                    {% for genre in genres %}
                    <option value="{{ genre.id }}">{{ genre.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <button type="submit" class="btn btn-primary">Загрузить</button>
                <a href="/" class="btn btn-secondary me-2">Назад</a>
            </div>
        </form>
    </div>
{% endblock %}
